<script setup lang="ts">
  import {computed, type ComputedRef, type Ref, ref, watch} from 'vue';

  const props = defineProps<{
    id: string
  }>();

</script>

<template>
  <div :id="id" class="{{kebabCase name}}">
    <p>{{kebabCase name}}</p>
  </div>
</template>

<style lang="scss">
    .{{kebabCase name}} {

    }
</style>
