<script setup lang="ts">
  import {computed, type ComputedRef, type Ref, ref, watch} from 'vue';


</script>

<template>
  <div class="{{kebabCase name}} pad w-full">
    <div class="h-full w-full bg-blue-200 border-radius">{{kebabCase name}}</div>
  </div>
</template>

<style lang="scss">
  .{{kebabCase name}} {

  }
</style>
